.mediaViewInfo {
	--web-view-name: portfolio;
	--web-view-id: portfolio;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: portfolio;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#portfolio {
	position: absolute;
	width: 1920px;
	height: 5705px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: portfolio;
	--web-view-id: portfolio;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1200px;
	left: 0px;
	top: 0px;
}
#Grille_de_r_p_tition_1 {
	position: absolute;
	width: 1920px;
	height: 1202px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
#Grille_de_r_p_tition_1_0 {
	position: absolute;
	width: 1920px;
	height: 1200px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Nature_4k_UHD_wallpapers_004__ {
	opacity: 0.61;
	position: absolute;
	width: 1920px;
	height: 1200px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#navbar {
	position: absolute;
	width: 1182px;
	height: 102px;
	left: 738px;
	top: 73px;
	overflow: visible;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 217px;
	height: 88px;
	left: 0px;
	top: 0px;
}
#Accueil______Contact______Nos_ {
	position: absolute;
	left: 47px;
	top: 14px;
	overflow: visible;
	width: 1136px;
	height: 88px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 43px;
	color: rgba(255,255,255,1);
}
.zone_competences {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 807px;
	left: 0px;
	top: 1200px;
}
.Trac__2056 {
	overflow: visible;
	position: absolute;
	width: 154px;
	height: 157px;
	left: 862px;
	top: 1118px;
	transform: matrix(1,0,0,1,0,0);
}
#LEXYA___WEB {
	position: absolute;
	left: 81px;
	top: 80px;
	overflow: visible;
	width: 291px;
	height: 74px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#FULLSTACK_DEVELOPPEUR {
	position: absolute;
	left: 491px;
	top: 417px;
	overflow: visible;
	width: 940px;
	height: 123px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 79px;
	color: rgba(255,255,255,1);
}
#Composant_1___1 {
	position: absolute;
	width: 299px;
	height: 98px;
	left: 811px;
	top: 796px;
	overflow: visible;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 299px;
	height: 98px;
	left: 0px;
	top: 0px;
}
#Portfolio_t {
	position: absolute;
	left: 59px;
	top: 16px;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 43px;
	color: rgba(11,72,93,1);
}
#Une__quipe_pour_r_aliser_tous_ {
	position: absolute;
	left: 565px;
	top: 571px;
	overflow: visible;
	width: 791px;
	height: 58px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	color: rgba(0,0,0,1);
}
#Competences {
	position: absolute;
	width: 544.575px;
	height: 104.462px;
	left: 687.929px;
	top: 1311.193px;
	overflow: visible;
}
#Nos_comp_tences {
	transform: translate(-310.929px, -1083.193px) matrix(1,0,0,1,311.7166,1087.9242) rotate(1deg);
	transform-origin: center;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 544px;
	height: 95px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 62px;
	color: rgba(11,72,93,1);
}
#a_propos_de_nous {
	position: absolute;
	width: 1920px;
	height: 691px;
	left: 0px;
	top: 2007px;
	overflow: visible;
}
.Rectangle_9 {
	filter: drop-shadow(0px 6px 6px rgba(9, 5, 5, 0.161));
	width: 1920px;
	height: 691px;
	position: absolute;
	overflow: visible;
	transform: translate(142px, -2151px) matrix(1,0,0,1,-142,2151) rotate(0deg);
	transform-origin: center;
}
#ID83701484_10218768288189632_2 {
	position: absolute;
	width: 325px;
	height: 325px;
	left: 1453px;
	top: 215px;
	overflow: visible;
}
#ID21741130_10212388086968589_5 {
	position: absolute;
	width: 325px;
	height: 325px;
	left: 1015px;
	top: 215px;
	overflow: visible;
}
#Alexia___Yael_HUE__respectivem {
	position: absolute;
	left: 62px;
	top: 215px;
	overflow: visible;
	width: 754px;
	height: 437px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 44px;
	color: rgba(0,0,0,1);
}
.Ligne_1 {
	overflow: visible;
	position: absolute;
	width: 557px;
	height: 3px;
	left: 181.5px;
	top: 169.5px;
	transform: matrix(1,0,0,1,0,0);
}
#A_propos_de_nous_ {
	position: absolute;
	left: 243px;
	top: 81px;
	overflow: visible;
	width: 404px;
	height: 88px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 44px;
	color: rgba(0,0,0,1);
}
#Icon___Keyboard_Arrow___Down__ {
	opacity: 0.5;
	position: absolute;
	width: 120px;
	height: 120px;
	left: 895px;
	top: 1123px;
	overflow: visible;
}
.Box {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 120px;
	left: 0px;
	top: 0px;
}
.Icon___Keyboard_Arrow___Up___D {
	overflow: visible;
	position: absolute;
	width: 64.262px;
	height: 40.075px;
	transform: translate(0px, 0px) matrix(1,0,0,1,27.7992,39.9261) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Trac__2053 {
	overflow: visible;
	position: absolute;
	width: 99.606px;
	height: 97.995px;
	left: 515px;
	top: 1310px;
	transform: matrix(1,0,0,1,0,0);
}
#nous_contacter {
	position: absolute;
	width: 1920px;
	height: 1765px;
	left: 0px;
	top: 3759px;
	overflow: visible;
}
.Trac__2058 {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 1765px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Nous_contacter___ {
	position: absolute;
	left: 566px;
	top: 72px;
	overflow: visible;
	width: 789px;
	height: 102px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 59px;
	color: rgba(0,0,0,1);
}
.Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 1269px;
	height: 626px;
	left: 326px;
	top: 799px;
}
#Votre_message {
	position: absolute;
	left: 745px;
	top: 686px;
	overflow: visible;
	width: 383px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 59px;
	color: rgba(0,0,0,1);
}
#envoyer_bouton {
	position: absolute;
	width: 485px;
	height: 147px;
	left: 671px;
	top: 1500px;
	overflow: visible;
}
.Rectangle_15 {
	filter: drop-shadow(0px 12px 8px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 509px;
	height: 171px;
	left: 0px;
	top: 0px;
}
#Envoyer {
	position: absolute;
	left: 132px;
	top: 22px;
	overflow: visible;
	width: 222px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 59px;
	color: rgba(255,255,255,1);
}
.ic_email_24px {
	overflow: visible;
	position: absolute;
	width: 48.942px;
	height: 39.154px;
	left: 380.861px;
	top: 53.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Trac__2059 {
	overflow: visible;
	position: absolute;
	width: 595px;
	height: 1px;
	left: 223px;
	top: 417px;
	transform: matrix(1,0,0,1,0,0);
}
.Trac__2060 {
	overflow: visible;
	position: absolute;
	width: 525px;
	height: 116px;
	left: 1070px;
	top: 555px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_23 {
	position: absolute;
	overflow: visible;
	width: 525px;
	height: 116px;
	left: 326px;
	top: 304px;
}
.Rectangle_24 {
	position: absolute;
	overflow: visible;
	width: 525px;
	height: 116px;
	left: 326px;
	top: 555px;
}
.Rectangle_25 {
	position: absolute;
	overflow: visible;
	width: 525px;
	height: 116px;
	left: 1070px;
	top: 304px;
}
#Nom {
	position: absolute;
	left: 524px;
	top: 188px;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 59px;
	color: rgba(0,0,0,1);
}
#Pr_nom {
	position: absolute;
	left: 1231px;
	top: 206px;
	overflow: visible;
	width: 205px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 59px;
	color: rgba(0,0,0,1);
}
#E_mail {
	position: absolute;
	left: 508px;
	top: 454px;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 59px;
	color: rgba(0,0,0,1);
}
#N__t_l_phone {
	position: absolute;
	left: 1181px;
	top: 452px;
	overflow: visible;
	width: 347px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 59px;
	color: rgba(0,0,0,1);
}
#footpage {
	position: absolute;
	width: 1920px;
	height: 181.188px;
	left: 0px;
	top: 5523.812px;
	overflow: visible;
}
.Trac__2057 {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 181.188px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#design_yaelxy {
	opacity: 0.71;
	position: absolute;
	left: 83px;
	top: 31.188px;
	overflow: hidden;
	width: 495px;
	height: 59px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 59px;
	color: rgba(255,255,255,1);
}
.Rectangle_20 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1068px;
	left: 0px;
	top: 2691px;
}
#Nos_cr_ations {
	position: absolute;
	left: 765px;
	top: 2800px;
	overflow: visible;
	width: 391px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 61px;
	color: rgba(0,0,0,1);
}
#html {
	position: absolute;
	width: 310px;
	height: 96px;
	left: 526px;
	top: 1528px;
	overflow: visible;
}
.Rectangle_21 {
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 89px;
	left: 0px;
	top: 0px;
}
#Html_bx {
	position: absolute;
	left: 74px;
	top: 0px;
	overflow: visible;
	width: 169px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe Script;
	font-style: normal;
	font-weight: bold;
	font-size: 61px;
	color: rgba(255,255,255,1);
}
#php {
	position: absolute;
	width: 207px;
	height: 96px;
	left: 526px;
	top: 1660px;
	overflow: visible;
}
.Rectangle_21_bz {
	position: absolute;
	overflow: visible;
	width: 207px;
	height: 89px;
	left: 0px;
	top: 0px;
}
#Php_b {
	position: absolute;
	left: 36px;
	top: 0px;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe Script;
	font-style: normal;
	font-weight: bold;
	font-size: 61px;
	color: rgba(255,255,255,1);
}
#js {
	position: absolute;
	width: 390px;
	height: 96px;
	left: 758px;
	top: 1660px;
	overflow: visible;
}
.Rectangle_21_b {
	position: absolute;
	overflow: visible;
	width: 390px;
	height: 89px;
	left: 0px;
	top: 0px;
}
#Javascript {
	position: absolute;
	left: 24px;
	top: 0px;
	overflow: visible;
	width: 343px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe Script;
	font-style: normal;
	font-weight: bold;
	font-size: 61px;
	color: rgba(255,255,255,1);
}
#css {
	position: absolute;
	width: 183px;
	height: 96px;
	left: 862px;
	top: 1528px;
	overflow: visible;
}
.Rectangle_21_ca {
	position: absolute;
	overflow: visible;
	width: 183px;
	height: 89px;
	left: 0px;
	top: 0px;
}
#Css_b {
	position: absolute;
	left: 44px;
	top: 0px;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe Script;
	font-style: normal;
	font-weight: bold;
	font-size: 61px;
	color: rgba(255,255,255,1);
}
#ui_ux {
	position: absolute;
	width: 323px;
	height: 96px;
	left: 1071px;
	top: 1528px;
	overflow: visible;
}
.Rectangle_21_cb {
	position: absolute;
	overflow: visible;
	width: 323px;
	height: 89px;
	left: 0px;
	top: 0px;
}
#ui___ux {
	position: absolute;
	left: 28px;
	top: 0px;
	overflow: visible;
	width: 268px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe Script;
	font-style: normal;
	font-weight: bold;
	font-size: 61px;
	color: rgba(255,255,255,1);
}
#facebook_logo {
	opacity: 0.62;
	position: absolute;
	width: 16.649px;
	height: 30.793px;
	left: 1657.579px;
	top: 24.202px;
	overflow: visible;
}
.Trac__1 {
	overflow: visible;
	position: absolute;
	width: 16.648px;
	height: 30.793px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#google_plus {
	opacity: 0.62;
	position: absolute;
	width: 49.27px;
	height: 30.793px;
	left: 1697.963px;
	top: 24.202px;
	overflow: visible;
}
#Groupe_3 {
	position: absolute;
	width: 15.397px;
	height: 15.397px;
	left: 33.873px;
	top: 6.159px;
	overflow: visible;
}
#Groupe_2 {
	position: absolute;
	width: 15.397px;
	height: 15.397px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Trac__2 {
	overflow: visible;
	position: absolute;
	width: 15.397px;
	height: 15.397px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_5 {
	position: absolute;
	width: 30.793px;
	height: 30.793px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Groupe_4 {
	position: absolute;
	width: 30.793px;
	height: 30.793px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Trac__3 {
	overflow: visible;
	position: absolute;
	width: 30.793px;
	height: 30.793px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.ic_expand_more_24px {
	overflow: visible;
	position: absolute;
	width: 12px;
	height: 7.41px;
	left: 954px;
	top: 1714px;
	transform: matrix(1,0,0,1,0,0);
}